*.pdf
*.jpg
*.tif
*.xlsx
*.csv
*.docx
*.eps
*.png
*.ai
*.grd
*.gri
*.gpkg
*.nc
*.tfw
*.xml
*.nc4
*.zip
*.dbf
*.prj
*.shp
*.sbn
*.sbx
*.DS_Store
*.shx
*.cpg
*.aux
*.db
*.Rproj.user
*.Rdata
.Rproj.user
Data/
Delete/
Figures/
old_scripts/
Text_files/
Vilma_fcr_repo/